@font-face {
    font-family: NotoSans-Regular;
    src: url(../fonts/NotoSansJP-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: NotoSans-Light;
    src: url(../fonts/NotoSansJP-Light.otf);
    font-weight: normal;
}
@font-face {
    font-family: NotoSans-Medium;
    src: url(../fonts/NotoSansJP-Medium.otf);
    font-weight: normal;
}
@font-face {
    font-family: NotoSans-Bold;
    src: url(../fonts/NotoSansJP-Bold.otf);
    font-weight: normal;
}
@font-face {
    font-family: NotoSans-Black;
    src: url(../fonts/NotoSansJP-Black.otf);
    font-weight: normal;
}

:root{
    --main-blue:0, 130, 182;
    --mid-blue:35, 196, 255;
    --accent-color:75, 210, 215;
    --a-color: var(--main-color);
    --a-alt-color: 185, 240, 235;
    --base-font-size:16px;
    --larger-font-size:1.15rem;
    --main-holder-width:1024px;
    --main-holder-padding:35px;
    --tl-graph-width:60px;
    --tl-graph-line:6px;
    --tl-stop-width:calc(var(--tl-graph-width) - 34px);
    --tl-stop-height:70px;
    --tl-stop-margin:calc((var(--tl-graph-width) - var(--tl-stop-width)) / 2);
    --tl-skill-width:var(--tl-graph-width);
    --tl-skill-margin:10px;
    --tl-details-width:90px;
    --tl-descript-width:calc(100% - (var(--tl-graph-width) + var(--tl-details-width)));
    --tl-descript-indent:40px;
    --li-bullet-width:13px;
    --transit-dur:0.4s;
    --sticky-year-top:-1px;
    --main-gradient: linear-gradient(120deg, rgb(var(--main-blue)) 25%, rgb(var(--mid-blue)) 100%);
    --stop-shadow: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
    --photo-hold-size:200px;

    font-size: var(--base-font-size);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: NotoSans-Regular;
    line-height: 1.7;
    color: rgb(65, 65, 65);
}
div{
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.15) rgba(255,255,255,0);
}
div::-webkit-scrollbar-track{
    background-color: rgba(255,255,255,0);
}
div::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.15);
}
div::-webkit-scrollbar{
    width: 7px;
    padding: 0px 2px;
}
header, footer, section{
    padding:55px 0px;
}
header{
    width:100%;
    position:relative;
    overflow:hidden;
}
footer{
    width:100%;
    position:relative;
}
h1, h2, h3, h4{
    line-height: 1.3;
    padding:5px 0px;
    margin:0px;
}

h1{
    font-family: NotoSans-Regular;
    font-size: 2.3rem;
    margin:0px 0px 8px 0px;
    padding:0px;
}
h2{
    font-family: NotoSans-Bold;
    font-size: 1.8rem;
}
h3{
    font-family: NotoSans-Bold;
    font-size: 1.45rem;
}
h4{
    font-family: NotoSans-Medium;
    font-size: 1.05rem;
    color: rgb(185, 185, 185);
}
h4 span{
    font-family: NotoSans-Light;
}
p{
    margin: 0px;
    padding:5px 0px 15px 0px;
}
a{
    position: relative;
    text-decoration: none;
    color:rgb(var(--mid-blue));
}
a::after{
    content: "";
    width:20px;
    height:2px;
    display: block;
    position:absolute;
    bottom: -5px;
    border-radius: 2px;
    box-sizing: border-box;
    opacity:0.4;
    background-color:rgb(var(--mid-blue));
    transition: all calc(var(--transit-dur) / 4) ease-out;
}
a:hover::after{
    width:100%;
    background-color:rgb(var(--mid-blue));
    opacity:0.8;
}
strong{
    font-family: NotoSans-Bold;
}
ul{
    padding:5px 0px;
    margin: 0px;
}
ul li {
    position: relative;
    padding:2px 0px 0px calc(var(--li-bullet-width) + 10px);
    margin:0px 0px 20px 0px;
    box-sizing: border-box;
    list-style:none; 
}
ul li:last-of-type {
    margin:0px 0px 0px 0px;
}
ul li .li--bullet{
    width:var(--li-bullet-width);
    height: var(--li-bullet-width);
    display:block;
    position: absolute;
    top:11px;
    left:0px;
    border-radius: 100%;
    background-color: white;
    border: solid 2.5px rgba(var(--accent-color), 1);
    box-sizing: border-box;
}
ul ul{
    padding-left: 20px;
    padding:20px 0px 20px 25px;
}
ul ul li{
    font-family: NotoSans-Light;
}
ul ul li .li--bullet{
    width:calc(var(--li-bullet-width) - 4px);
    height: calc(var(--li-bullet-width) - 4px);
    display:block;
    position: absolute;
    top:11px;
    left:0px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    box-sizing: border-box;
}
.dark-bg{
    background: var(--main-gradient);
    color:rgba(255, 255, 255, 0.9);
}
.dark-bg a{
    color:rgb(var(--a-alt-color));
}
.dark-bg a::after{
    background-color:rgb(var(--a-alt-color));
}
.banner{
    font-family: NotoSans-Medium;
    font-size: 0.9rems;
    background-color:rgba(var(--accent-color), 1);
    padding: 10px 20px;
    text-align:center;
}
.main-holder{
    width:100%;
    max-width: var(--main-holder-width);
    position:relative;
    margin:0 auto;
    padding: 0px var(--main-holder-padding);
    box-sizing: border-box;
    background-color:rgba(0, 0, 0, 0.0);
    transition: all var(--transit-dur);
}
header .main-holder{
    padding: 25px 35px 75px 35px;
}
.graph-line{
    height:130px;
    width: calc(100% + (100vw - 100%) / 2);
    left:0px;
    bottom:-55px;
    position:absolute;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}
.graph-line svg{
    height:100%;
    position:absolute;
}
.graph-line .line-left{
    left:45px;
}
.graph-line .line-stretch {
    left: 244px;
    width: calc(100% - 383px);
}
.graph-line .line-right{
    right:0px;
}
.graph-line--correct{
    width:100vw;
    height:19px;
    position:absolute;
    left: calc(-100vw + 100%);
    bottom:0px;
    background-color:rgba(235, 245, 249, 1);
}
.graph-line--stop-holder{
    position: absolute;
    left: -20px;
    bottom: -87px;
}
.graph-line--stop-holder .reference--line{
    width:2px;
    height:200px;
    left:calc(50% - 1px);
    bottom:50%;
    position:absolute;
    background: linear-gradient(0deg, rgba(255, 255, 255 , 0.3) 20%, rgba(255, 255, 255 ,0) 100%); 
}
.graph-line--stop{
    width: 38px;
    height: 38px;
    padding:2px;
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-radius: 100%;
    border: solid var(--tl-graph-line) rgba(var(--accent-color), 1);
    filter: var(--stop-shadow);
}
.graph-line--stop::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgba(0,124,179,1);
}

.subject-header{
    height:100%;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    color: rgba(255, 255, 255, 1);
}
.subject-photo-holder{
    width:var(--photo-hold-size);
    height:var(--photo-hold-size);
    position:relative;
    padding:15px;
    box-sizing: border-box;
}
.subject-photo-holder svg{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}

.subject-photo{
    width:100%;
    height:100%;
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius:50%;
    background-image: url(../img/profile-dav2.jpg);
    background-size: 135%;
    background-position: center center;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}
.subject-info-holder{
    position:relative;
    padding:0px 35px;
}
.subject-info-holder .name{
    display:block;
    width:100%;
}
.subject-info{
    position:relative;
}
.subject-info p{
    font-family: NotoSans-Black;
    font-size:var(--larger-font-size);
    margin:8px 0px 0px 0px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.4;
}
.subject-info .small-text{
    display:inline;
    font-size: 0.8rem;
}
.subject-intro-holder{
    position:relative;
    padding:0px 0px 0px 35px;
}
.subject-intro{
    position:relative;
    font-family: NotoSans-Light;
    font-size:1.25rem;
}
.subject-intro p{
    margin: 0px
}
.subject-photo-holder, .subject-info, .subject-intro {
    top:50%;
    transform: translateY(-50%);
}
.content--secondary{
    padding-top:0px;
    overflow: visible;
    background:rgba(0, 125, 179, 0.08);
}
.recent--projects{
    display:flex;
}
.recent--descript{
    flex-grow: 1;
    position:relative;
    font-family: NotoSans-Regular;
    font-size:1.25rem;
}
.recent--descript span{
    display:block;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.projects--holder{
    display:flex;
    position:relative;
}
.project{
    flex-grow: 0;
    width:200px;
    height:200px;
    position: relative;
    overflow: hidden;
    border-radius:15px;
    margin:0px 0px 0px 15px;
    background:rgba(0, 125, 179, 0.2);
    color:rgb(var(--a-alt-color));
    box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.52);
    transition: box-shadow var(--transit-dur);
}
.project.inactive{
    opacity:0.6;
    pointer-events: none;
}
.project:hover{
    box-shadow: 0px 23px 20px -18px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.project--thumb{
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    background-position: center center;
    background-size: cover;
}
.project--1 .project--thumb{
    background-image:url("../img/thumb-files-expl.jpg");
}
.project--2 .project--thumb{
    background-image:url("../img/thumb-dixit.jpg");
}
.project--3 .project--thumb{
    background-image:url("../img/thumb-psicol.jpg");
}
.project--thumb img{
    height:100%;
    position:relative;
}
.project--overlay{
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    transition: opacity var(--transit-dur);
}
.overall--overlay{
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(220, 232, 235, 0.85);
    backdrop-filter:blur(7px);
    z-index:4;
    top:0px;
}
.project--overlay.main--ov{
    background: linear-gradient(25deg, rgba(var(--main-blue),1) 20%, rgba(var(--main-blue),0.95) 35%, rgba(var(--mid-blue),0.4) 85%, rgba(var(--mid-blue),0) 120%);
    opacity:1;
}
.project--overlay.sec-ov{
    background: linear-gradient(25deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.97) 45%, rgba(var(--mid-blue) ,0.7) 95%, rgba(var(--mid-blue), 0.4) 140%);
    opacity:1;
}
.project:hover .project--overlay{
    opacity:0.95;
}
.project--overlay a{
    display:block;
    width:100%;
    height:100%;
}
.project--overlay a::after{
    display:none;
}
.project--title{
    max-width: 100%;
    position:absolute;
    bottom:0px;
    padding: 0px 15px 20px 15px;
    box-sizing: border-box;
    pointer-events: none;
}
.project--title .main--title{
    width: 100%;
    position:relative;
    overflow:hidden;
    text-overflow: ellipsis;
    font-family: NotoSans-bold;
    font-size: 1.1rem;
    line-height: 2;
}
.project--title .main--title::after{
    content: "";
    width:20px;
    height:2px;
    display: block;
    position:absolute;
    bottom:0px;
    border-radius: 2px;
    box-sizing: border-box;
    opacity:0.4;
    background-color:rgb(var(--a-alt-color));
    transition: all calc(var(--transit-dur) / 3) ease-out;
}
.project:hover .project--title .main--title::after{
    width:100%;
    background-color:rgb(var(--a-alt-color));
    opacity:0.8;
}
.project--title .sub--title{
    position:relative;
    font-family: NotoSans-Light;
    font-size: 0.8rem;
    line-height: 1.1;
    color:rgb(255, 255, 255);
}
.project--popup{
    width:calc(100% - 35px);
    max-width: 720px;
    min-height: 650px;
    max-height:calc(100vh - 35px);
    position:fixed;
    padding: 40px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 20px 45px -20px rgba(0, 0, 0, 0.40);
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.93);
    z-index:5;
}
.project--popup .project--thumb{
    width:calc(100% + 10px);
    height:calc(100% + 10px);
    top:-5px;
    left:-5px;
    filter: blur(2.5px);
}
.project--popup .project--overlay.main--ov{
    opacity:0;
}
.project--info-holder{
    width:100%;
    max-width:560px;
    height:100%;
    margin:0 auto;
    position:relative;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "Title Title"
                        "Desciption Images"
                        "Tools Tools";
    gap:20px;
}
.project--info-holder .project--title{
    grid-area: Title;
    max-width: 100%;
    position: relative;
    padding: 0px 0px 0px 0px;
}
.project--info-holder .project--title .main--title{
    font-size:1.8rem;
}
.project--info-holder .project--img-holder{
    grid-area: Images;
    width:200px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.project--img-holder .project--image{
    width:100%;
    height:120px;
    position: relative;
    margin: 5px 0px;
    border-radius:3px;
    background-color: rgba(0,0,0,0.3);
}
.project--descript{
    height:100%;
    overflow: auto;
    max-height:390px;   
}
.project--tools-holder{

}
.timeline--holder{
    display:grid;
    position:relative;
    grid-auto-flow: row;
}
.timeline--holder div{
    /* transition: all var(--transit-dur); */
}
.timeline--segment{
    display:grid;
    grid-template-columns: var(--tl-graph-width) var(--tl-details-width) var(--tl-descript-width);
    grid-template-rows: minmax(var(--tl-stop-height), auto) auto;
}

.timeline--graph{
    width:var(--tl-graph-line);
    height:calc(100% - (var(--tl-stop-width) * 2) );
    position: absolute;
    left:calc(var(--tl-graph-width) / 2);
    top:50%;
    transform: translate(-50%, -50%);
    background-color:rgba(var(--accent-color), 1);
}
.timeline--holder p{
    margin:0px;
    padding-bottom:15px;
}
.timeline--stop-holder{
    width:100%;
    height:var(--tl-stop-height);
    position: sticky;
    top:var(--sticky-year-top);
    z-index: 2;
}
.timeline--stop-holder .stop--backdrop{
    width:100%;
    height:100%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 65%);
}
.timeline--stop{
    width:var(--tl-stop-width);
    height:var(--tl-stop-width);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background:rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-radius: 100%;
    border:solid var(--tl-graph-line) rgba(var(--accent-color), 1);
    filter: var(--stop-shadow);
}
.stop--1 .timeline--stop{
    width: 38px;
    height:38px;
    padding: 2px;
}
.stop--1 .timeline--stop::after{
    content:"";
    width: 100%;
    height: 100%;
    display:block;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgba(0,124,179,1);
}
.timeline--skill-holder{
    grid-column: 1/2;
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.timeline--level-holder{
    grid-column: 2/3;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
}
.timeline--skill-holder, .timeline--level-holder{
    grid-row: 2/3;
}
.timeline--skill-holder .timeline--skill{
    width:var(--tl-skill-width);
    height: var(--tl-skill-width);
    margin: var(--tl-skill-margin) 0px var(--tl-skill-margin) 0px;
    border-radius:8px;
}
.timeline--skill svg{
    width:100%;
    height: 100%;
    position:relative;
}
.timeline--level-holder .timeline--level{
    width: 100%;
    height: var(--tl-skill-width);
    margin: var(--tl-skill-margin) 0px var(--tl-skill-margin) 0px;
    background-color: rgba(0,0,0,0.0);
}
.timeline--level-holder .timeline--level svg{
    width:100%;
    height:100%;
    max-width:60px;
    max-height:60px;
    min-width:40px;
    min-height:40px;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.level-bar{
    width:100%;
    height: 10px;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    border-radius: 2px;
    background-color: rgba(0,0,0,0.15);
}
.level-bar::after{
    content: "";
    height: 100%;
    display: block;
    position: relative;
    border-radius: 2px 0px 0px 2px;
    background-color:rgba(var(--accent-color), 1);
}
.level-bar.lv--85::after{
    width: 85%;
}
.level-bar.lv--65::after{
    width: 65%;
}
.level-bar.lv--50::after{
    width: 50%;
}
.level-bar.lv--25::after{
    width: 25%;
}
.timeline--year{
    grid-column:2/3;
    position:sticky;
    top:var(--sticky-year-top);
    padding:0px 0px 0px 20px;
    z-index:2;
}
.timeline--year span{
    font-family: NotoSans-Medium;
    font-size: 1.35em;
    line-height:calc(var(--tl-stop-height) - 5px);

}
.timeline--descript{
    padding:10px 0px 10px var(--tl-descript-indent);
    box-sizing: border-box;
}
.timeline--descript .descript--title{
    padding:0px 0px 15px 0px;
}
.timeline--divider{
    width:100%;
    height:100%;
    display: block;
    position: sticky;
    top:var(--sticky-year-top);
    z-index: 1;
}
.timeline--divider .divider--backdrop{
    height:calc(100% + 20px);
    width:calc(100% + var(--tl-details-width));
    position: absolute;
    top:0px;
    right:0px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
}
.timeline--divider h2{
    position: relative;
    padding: 15px 0px 0px var(--tl-descript-indent);
    color: rgba(var(--accent-color), 1);
}
.timeline--divider .divider-line{
    width:100%;
    height:2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
    background-color:rgba(0,0,0, 0.1);
}
.timeline--divider.topmost .divider-line{
    width:20px;
}
footer .main-holder{
    display:grid;
    grid-template-columns: 0.70fr 1.3fr;
    grid-template-rows:auto auto;
    grid-template-areas: "Title Title"
                        "Text Contacts" ;
    gap:20px;
}
footer h3{
    grid-area: Title;
}
footer p{
    font-size: var(--larger-font-size);
    padding: 5px 20px 5px 0px;
    color: rgba(0, 0, 0, 0.6);
}
.contacts--holder{
    width:100%;
    position:relative;
}
.contacts--grid{
    width:100%;
    display:grid;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px;
    font-size:var(--larger-font-size);
    gap:15px;
}
.contacts--grid .contact{
    width:100%;
    position: relative;
    display:flex;
}
.contact--icon{
    height:40px;
    width: 40px;
    flex-grow: 0;
    flex-shrink: 0;
}
.contact--icon{
    width:40px;
    height:40px;
}
.contact--info{
    font-family: NotoSans-Medium;
    font-size: var(--base-font-size);
    line-height:40px;
    padding: 0px 0px 0px 10px;
}

@media screen and (min-width:1370px) {
    :root{
        --main-holder-width:1280px;
    }
    .subject-info-holder .name{
        display:initial;
        width:initial;
    }
    footer .main-holder{
        display:grid;
        grid-template-columns: 0.8fr 1.2fr;
    }
}

@media screen and (max-width:950px) {
    :root{
        --photo-hold-size:175px;
    }
    .subject-photo-holder{
        padding:13px;
    }
    .subject-info span{
        display: block;
        width:100%;
    }
    .content--secondary{
        padding-top:25px;
    }
    .recent--projects{
        display:block;
    }
    .recent--descript{
        padding: 0px 0px 35px 0px;
        text-align: center;
    }
    .recent--descript span{
        top:inherit;
        transform: inherit;
    }
    .project{
        flex-grow: 1;
    }
    footer p {
        padding: 5px 35px 5px 0px;
    }
    footer .main-holder{
        grid-template-columns: auto;
        grid-template-rows:auto auto auto;
        grid-template-areas: "Title"
                            "Text"
                            "Contacts" ;
        gap:20px;
    }
    .contacts--grid{
        position: relative;
        top:0px;
        transform:none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px;
        grid-auto-flow: row;
    }
}

@media screen and (max-width:770px){

    header .main-holder{
        padding:var(--main-holder-padding);
    }
    .graph-line--stop-holder {
        left: 255px;
        bottom: -47px;
    }
    .subject-header{
        display: grid;
        grid-template-columns: var(--photo-hold-size) auto;
        grid-template-rows: var(--photo-hold-size) auto;
        grid-template-areas: "subject-info subject-info"
                            "intro-text intro-text";
        grid-auto-flow: row;
    }
    .subject-info-holder .name {
        display: inline;
    }
    .subject-info span{
        display: inline;
        width:auto;
    }
    .subject-info .small-text{
        display:inline;
    }
    .subject-intro-holder {
        grid-area: intro-text;
        text-align: center;
        padding: 35px 0px 75px 0px;
    }
}

@media screen and (max-width:550px) {
    
    :root{
        --base-font-size:14px;
        --main-holder-padding:15px;
        --tl-graph-width:40px;
        --tl-graph-line:4px;
        --tl-stop-width:calc(var(--tl-graph-width) - 20px);
        --tl-stop-height:80px;
        --tl-skill-width:var(--tl-graph-width);
        --tl-skill-margin:15px;
        --tl-details-width:0px;
        --li-bullet-width:11px;
        --sticky-year-top:-10px;
        --photo-hold-size:120px;
    }
    h1{
        margin:0px 0px 5px 0px;
    }
    h1, h2, h3{
        line-height: 1.4;
    }
    h4{
        padding-top:5px;
        line-height: 1.5;
    }
    header .main-holder{
        padding:var(--main-holder-padding);
    }
    ul li .li--bullet{
        top: 8px;
        border: solid 2px rgba(var(--accent-color), 1);
    }
    section{
        padding:40px 0px;
    }
    .subject-photo-holder{
        padding:10px;
    }
    .subject-info-holder{
        padding: 0px 0px 0px 15px;
    }
    .subject-info p{
        font-size:1rem;
        line-height: 1.35;
        margin:5px 0px 0px 0px;
    }
    .subject-intro-holder {
        padding: 15px 0px 0px 0px;
    }
    .subject-intro p{
        padding:5px 0px 85px 0px;
    }
    .graph-line{
        height:120px;
    }
    .graph-line .line-left{
        left:5px;
    }
    .graph-line .line-stretch {
        left: 188px;
        width: calc(100% - 35px);
    }
    .graph-line--stop-holder{
        left: 170px;
        bottom: -30px;
    }
    .graph-line--stop-holder .reference--line{
        height:100px; 
    }
    .graph-line--stop{
        width: 32px;
        height: 32px;
    }
    .recent--projects{
        flex-direction: column;
    }
    .recent--descript {
        width:100%;
        padding-bottom: 30px;
        box-sizing: border-box;
    }
    .recent--descript span{
        display: inline;
    }
    .projects--holder{
        width: calc(100% + 6px);
        left:-3px;
    }
    .project{
        height:150px;
        margin: 0px 3px;
        border-radius: 7px;
    }
    .project--title{
        padding: 12px 8px;
    }
    .project--title .main--title{
        font-size: 1rem;
        display: block;
        line-height: 2.3;
    }
    .project--title .sub--title{
        font-size: 0.8rem;
        line-height: 0.9;
    }
    .timeline--holder {
        width:calc(100% + 5px);
        left:-5px;
    }
    .stop--1 .timeline--stop{
        width: 32px;
        height:32px;
    }
    .timeline--year {
        padding: 0px 0px 0px 0px;
    }
    .timeline--year span {
        padding:1px 0px 0px 15px;
        display:block;
    }
    .timeline--level-holder {
        padding: 0px 10px 0px 15px;;
    }
    .timeline--level-holder .timeline--level svg {
        width: 30px;
        min-width: 30px;
        top: 35px;
        left: -20px
    }
    .timeline--descript{
        padding:0px 0px 0px 15px;
    }
    .level-bar {
        height: 5px;
    }
    .timeline--divider h2{
        padding: 25px 0px 20px calc(var(--tl-descript-indent) + 30px);
        font-size:1.3rem;
    }
    .timeline--divider .divider-line{
        width: calc(100% - 70px);
        right:0px;
    }
    .timeline--divider.topmost .divider-line{
        display:none;
    }
    .timeline--divider .divider--backdrop {
        height: calc(100% + 25px);
    }
    .timeline--graph{
        height:calc(100% - (var(--tl-stop-width) * 3) );
    }
    footer p {
        padding: 5px 0px 5px 0px;
    }
    footer .main-holder{
        grid-template-columns: auto;
        grid-template-rows:auto auto auto;
        grid-template-areas: "Title"
                            "Text"
                            "Contacts" ;
        gap:20px;
    }
    .contacts--grid{
        position: relative;
        top:0px;
        transform:none;
        grid-template-columns: 100%;
        grid-template-rows: 40px;
        grid-auto-flow: row;
    }
}

